/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Quicksand', sans-serif;
}

#notice {
  text-align: center;
}

body {
  margin: 0;
}

.logo_box {
  width: 90%;
}

@media screen and (min-width: 500px) {
  .logo_box {
    width: 50%;
  }
}

.logo_home {
  width: 100%;
}

.card_field {
  text-align: center;
}

.text_fields {
  text-align: center;
}

.devise-card {
  padding: 10px 0 10px 0;
}

.footer_links {
  text-align: center;
}

.back-icon {
  width: 30px;
  height: 30px;
}

.field {
  text-align: center;
}

/* Item card styles */
.card-body {
  padding: 0;
}

.items_card {
  margin: 5px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.items_card_image {
  width: 95%;
  margin-top: 5px;
  border-radius: 3px;
  display: block;
}

.text_box {
  text-align: center;
  padding-top: 15px;
}

.item_name {
  font-size: 2em;
  font-weight: bold;
}

.item_price {
  font-size: 1.5em;
}

.col-6 {
  padding: 0;
}


/*home page*/
.search_box {
  text-align: center;
  height: 50px;
  padding-top: 15px;

}


// show page card
.copy_card {
  padding-top: 10%;
  border: none;
}

.card_text {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}

.card_avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.solo_card {
  padding: 1% 1% 1%;
}

.seller_row {
  margin: 10px;
}

.btn-outline-dark {
  margin-bottom: 20px;
}
